header{

  width: 100%;
  color: grey;
}

img{
  display: block;

}

header > hr {
  width: 33%;
  height: 7px;
  background: black;

}

.imagen-container{
  position: relative;
  width: 300px;
  display: inline-block;
  margin-left: 7%;
  opacity: 1.0;
  margin-bottom: 3%;
}

.imagen-container: Hover {

}

.imagen-container > span {

}
