
/*CLASES REUTILIZABLES*/

/* id/clases*/
footer{
  background: #373B47;
  color: white;
  text-align: center;
  font-size: 20px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.71429;
}

header > div > .menu-list-container{

}

#section > div > h2 {

}

#section > div > h1{
 font-size: 40px;
 padding-top: 20px;

}

#seccion-2 {
  background-color: #f17B75;
  text-align: center;
  color: white;
  padding: 50px 0/* */
}

#seccion-2 > div > h2 { /* */
  margin: 0;
  letter-spacing: 2px; /* espacio entre letras*/
}

#seccion-2 > div > div img { /* editando imagenes de seccion 2 */
  width: 200px;
}

#seccion-2 > div > div {
 display: inline-block;
 margin: 20px 25px;
}

#seccion-3 > div {
  text-align: center;
  margin: 50px;
  padding: 50px 0
}

#seccion-3 > div > img {
  width: 900px;
}
#seccion > div > -button-green {
  background: #2ecc7;
  padding: 10px 20px;
  color: white;
}


.float-lefth{
  float: left;
}

#seccion > div{

}

#proyectos > div > img{
  width: 200px;
}

#proyectos > div >{
  display: inline-block;
  margin: 0 20px;
}

.float-right{
  float: right;
}

.logo{
  width: 50px;

}
img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
